*{
    margin: opx;
    padding: opx;
    box-sizing: border-box;
    
}body{
    background: rgba(0, 0, 0,  0.4) url('hero.jpg') center fixed ;
    background-size: cover;
    background-blend-mode: darken;

}header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    }header h1{
        color: white;
        font-size: 50px;
        
    }header span{
        color: orange;
    }
    nav ul li{
        display: inline-block;
        padding: 20px;
        list-style: none;
    }
    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 22px;
        font-weight: 900;
        text-transform: uppercase;
    }.res{
        background-color: orange;
       /* padding: 6px;*/
        
    }nav ul li a:hover{
        font-size: 30px;
        background: yellow;
        color: red;
    }main{
       position: absolute;
       top: 35%;
       left: 30%;
       color: white;
    }main h2{
        margin-left: 15px;
        text-align: center;
    }main p{
        text-align: center;

    }main h1{
        text-align: center;
        font-weight: bold;
        
    }.search{
        position: absolute;
        top: 60%;
        left:45%;
        border-radius: 55px;;
    }input{
        width: 260px;
        padding: 10px;
        font-size: 19px;
        text-align: center;
     
        
    }button{
        position: absolute;
        top: 70%;
        left: 49%;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        background-color: orange;
        border-radius:20px;
        width: 140px;
        color: white;

    }button:hover{
        background:yellow;
        color: red;

    }


























